* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	height: 100vh;
}

h1,
h3 {
	text-align: center;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 60%;
}

table {
	border-collapse: collapse;
	margin-top: 25px;
}

table th,
table td {
	border: 1px solid #000;
	padding: 5px;
}

form input {
	font-size: 15px;
	padding: 4px;
}

.btn {
	background-color: dodgerblue;
	padding: 5px;
	cursor: pointer;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
	border: 1px solid #000;
}

a.btn {
	display: inline-block;
	text-decoration: none;
}

.btn-red {
	background-color: red;
}

.btn-green {
	background-color: green;
}
